@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --accentsgreen: rgba(30, 188, 180, 1);
  --body-font-family: "Manrope", Helvetica;
  --body-font-size: 14px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0px;
  --body-line-height: 24px;
  --brand-primary: rgba(30, 93, 188, 1);
  --brand-secondary: rgba(78, 178, 249, 1);
  --gray-100: rgba(242, 244, 247, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --heading-h3-font-family: "Manrope", Helvetica;
  --heading-h3-font-size: 20px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 700;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 30px;
  --heading-h4-font-family: "Manrope", Helvetica;
  --heading-h4-font-size: 16px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 24px;
  --indigo-500: rgba(97, 114, 243, 1);
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-font-style: normal;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --pink-500: rgba(238, 70, 188, 1);
  --primary-800: rgba(83, 56, 158, 1);
  --success-500: rgba(18, 183, 106, 1);
  --text-darker: rgba(15, 47, 100, 1);
  --text-font-family: "Manrope", Helvetica;
  --text-font-size: 12px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: 20px;
  --text-sm-regular-font-family: "Inter", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-font-style: normal;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
}
